<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="container">
      <div class="containerbots">
        <div class="rowbot" v-if="bots.length > 0">
          <div v-for="(bot, index) in bots" v-bind:key="bot._id">
            <div :class="getBotStyle(bot, index, 'name')"><span>{{bot.name}}</span></div>
            <div :class="getBotStyle(bot, index, 'status')">
              <span>{{bot.status}}</span></div>
          </div>                   
        </div>        
      </div>      
    </div>
    <div class="div-button">
      <button @click="resetBots()">Reset bots</button>
    </div>
  </div>
</template>

<script>
import { getDataFromServer } from './utils/DataProvider'
import io from 'socket.io-client';
import config from '../config';
export default {   
  data: () => {
      return{
        bots: [{status: '', name:''}],
        msg: 'Bots status',
        socket: io(config.params.server_path),        
      }
  },
  methods: {
    getBotStyle(bot, index, type){        
        let style = 'colbot '
        if(this.bots !== undefined){
          if(type === 'status'){
            style += bot.status === 'engaged' ? 'colbot bot-status-engaged-color' : 'colbot bot-status-free-color'
            style += this.bots.length !== index + 1 ? ' bot-border-right':''
          }           
          if(type === 'name'){
            style = 'colbot bot-name-color bot-border-bottom'
            style += this.bots.length !== index + 1 ? ' bot-border-right':''
          }
        }       
        return style
    },

    getDataFromServer(){
      getDataFromServer('get_list_bots')
        .then(obj => { 
          if(obj.data.success === true){             
            this.bots = obj.data.data
            console.log("list bots: ", this.bots)
          }
          else{
            console.log('get list bots error: ',  obj.data.text)
          }          
        })
        .catch(err => { 
          console.log('get list bots error: ', obj.data.text)
      })
    },
    resetBots(){
      getDataFromServer('reset_bots')
        .then(obj => { 
          if(obj.data.success === true){             
            this.bots = obj.data.data
            console.log("reset bots: ", this.bots)
            this.getDataFromServer()
          }
          else{
            console.log('reset bots error: ',  obj.data.text)
          }          
        })
        .catch(err => { 
          console.log('reset bots error: ', obj.data.text)
      })
    }
  },
  created(){
    this.getDataFromServer();
    this.socket.on('status_change', (data) => {
      if(data === true){
        this.getDataFromServer();
      }
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

.bot-name-color{
  background-color: #d7d7d7;
}

.bot-status-free-color{
  background-color: #72dae1;
}

.bot-status-engaged-color{
  background-color: #ea96b4;
}

.bot-border-right{
  border-right: solid 1px #565656;
}

.bot-border-bottom{
  border-bottom: solid 1px  #565656;
}

.container{
  display: flex;
  justify-content: center;
}

.containerbots{
  border-radius: 15px;
  border: solid 1px #ddd;
  overflow: hidden;
  font-size: 20px;
  font-family: Arial, Regular;
  color: #000;
  font-weight: bold;
}

.rowbot{
  display: flex;
  flex-direction: row;
}

.colbot{
  width: 250px;
  height: 50px;
}

.colbot span{
  display: inline-block;
  margin-top: 14px;
}

.div-button{
  margin-top: 30px;  
}

.div-button button{
  border: solid 1px #ddd;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}
</style>
